<h1>Welcome user:</h1>
<blockquote>Username : <%= username %></blockquote>
<blockquote>User Id: <%= id %></blockquote>

<br>
<p style="color:red">Edit the url above using just any number and your name and refresh</p>